<form class="edit" action="/user" method="post">

<input type="hidden" name="_method" value="put">
  <div>
    <label for="">First name</label>
    <input name="firstname" type="text" value="<%=@user.firstname%>"/>
  </div>
  <div>
    <label for="">Last name</label>
    <input name="lastname" type="text" value="<%=@user.lastname%>"/>
  </div>
  <div>
    <label for="">Birth year</label>
    <input name="birth_year" type="text" value="<%=@user.birth_year%>"/>
  </div>
  <div>
    <label for="">Birth month</label>
    <input name="birth_month" type="text" value="<%=@user.birth_month%>"/>
  </div>
  <div>
    <label for="">Birth day</label>
    <input name="birth_day" type="text" value="<%=@user.birth_day%>"/>
  </div>
  <div>
    <label for="">Email</label>
    <input name="email" type="text" value="<%=@user.email%>"/>
  </div>
  <div>
    <label for="">Password</label>
    <input name="password" type="password"/>
  </div>
  <button>submit</button>

</form>
